/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header css */
header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242526;
  width: 100%;
}

.search_area {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.search_area .logo {
  height: 40px;
  width: 40px;
}

.search_area .logo a {
  display: block;
}

.search_area .logo a img {
  width: 100%;
}

.search {
  width: 240px;
  height: 40px;
  background: #3a3b3c;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 0px 10px;
  margin-left: 15px;
}

.search span {
  width: 25px;
  font-size: 23px;
  color: white;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  background-color: unset;
  height: 100%;
  font-size: 15px;
  color: white;
}

.search input::placeholder {
  font-size: 15px;
  color: white;
}
.menu_toggler{
  display: none;
}

/* middle area */

nav ul {
  display: flex;
  align-items: center;
}

/* nav ul {
  display: flex;
  justify-content: center;
} */

nav ul li a {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 8px;
  transition: 0.3s;
  position: relative;
}

nav ul li a:hover {
  background: #3a3b3c;
}

nav ul li a::after {
  display: none;
  content: attr(data-tag);
  color: rgba(12, 10, 10, 0.884);
  text-align: center;
  background: #b1b1b1;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 8px;
  position: absolute;
}

nav ul li a:hover::after {
  display: block;
}

nav ul li:first-child a {
  padding: 12px 40px;
  border-bottom: 3px solid #2374e1;
}
nav ul li:first-child a span {
  color: #2374e1;
}

nav ul li:first-child a {
  border-radius: unset;
  background: unset;
}

nav ul li:first-child a:hover {
  border-radius: unset;
  background: unset;
}

nav ul li:last-child {
  display: none;
}

nav ul li span {
  color: white;
  font-size: 30px;
}

/* profile section */

.profile_section ul {
  display: flex;
  align-items: center;
}
.profile_section ul li:first-child {
  display: flex;
  align-items: center;
}

.profile_section ul li:first-child img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile_section ul li:first-child {
  color: white;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
  height: unset;
  width: unset;
  background: unset;
}

.profile_section ul li:first-child:hover {
  background: #3a3b3c;
}

.profile_section ul li {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3a3b3c;
  transition: 0.3s;
}

.profile_section ul li:nth-child(3) {
  display: none;
}

.profile_section ul li:hover {
  background-color: #8f888867;
}

.profile_section ul li span,
i {
  color: white;
  font-size: 23px;
  cursor: pointer;
}
